*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
}

/* Inserção do iframe do Maps */

.mapContainer iframe{
    width: 100vw;
}

.container{
    width: 100vw;
}

/* Inserindo o header e seus elementos OBS: trabalhar na responsividade desse elemento */

header{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding: 30px 0;
}

header .NameProfessional{
    font-size: 20px;
}

header .nav{
    display: flex;
    list-style: none;
}

/* Removendo a decoração de todos os links */

a{
    text-decoration: none;
    color: #000;
}

header .nav li{
    padding: 10px 8px;
    margin: 0 3px;
}

/* Imagem dando boas-vindas ao usuário com o botão SAIBA MAIS OBS: Trabalhar em sua responsividade também */

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background: url(./assets/images/BgWelcome.jpg);
}

.texto{
    flex-wrap: wrap;
    max-width: 550px;
    color: #fff;
    font-size: 30px;
}


.SaibaMais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(211, 68, 68);
    margin: 20px 200px;
    cursor: pointer;
    position: absolute;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: red;
    font-weight: bold;
}

.button img{
    opacity: 0.5;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.SaibaMais p{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

/* Região de compras */

/* Fazer de uma forma com que o programa fique responsível, mexer no container para que ele obedeça a margin */

.purchase{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 155px;
}

.introduction, .consultoria{
    width: 300px;
    height: 500px;
    border: 1px solid #000;
    position: relative;
}

.purchase .introduction, .purchase .consultoria{
    width: fit-content;
}

.consultoria img, .introduction img{
    width: 250px;
    height: 50%;
}